# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

b:\dev\pandas_exercises\env\lib\importlib\_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

In [3]:
chipo[:10]
#or chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [5]:
# Solution 2
len(chipo)

4622

In [6]:
# Solution 3!
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [7]:
# chipo.info shows it but we can also use
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [10]:
c = chipo.groupby('item_name')
print(c.groups)

{'Chips and Tomatillo Green Chili Salsa': Int64Index([  38,  232,  235,  366,  537,  627,  655,  703,  782,  809,  916,
            1157, 1259, 1518, 1568, 1573, 1577, 1583, 1589, 1593, 1847, 2296,
            2641, 2655, 3257, 3402, 3479, 3513, 3522, 3560, 3562, 3624, 3817,
            3901, 3975, 3992, 3995, 4129, 4254, 4328, 4400, 4476, 4493],
           dtype='int64'), 'Barbacoa Bowl': Int64Index([  39,   58,   95,  115,  127,  136,  219,  254,  418,  471,  592,
             750,  803,  804,  840,  919, 1032, 1068, 1174, 1175, 1179, 1235,
            1236, 1264, 1347, 1357, 1383, 1417, 1419, 1420, 1643, 1650, 1670,
            1746, 1804, 1970, 2013, 2073, 2253, 2372, 2399, 2517, 2620, 2667,
            2749, 2762, 2800, 3017, 3025, 3195, 3245, 3253, 3376, 3394, 3547,
            3549, 3822, 4046, 4056, 4135, 4140, 4380, 4441, 4485, 4510, 4594],
           dtype='int64'), 'Steak Soft Tacos': Int64Index([   8,   61,   65,   84,  118,  175,  184,  266,  278,  293,  299,
             342,  390,  494,  570,  961,  968, 1353, 1365, 1542, 1617, 1721,
            1912, 1979, 2139, 2144, 2250, 2450, 2654, 2732, 2840, 2844, 2879,
            3105, 3205, 3452, 3473, 3569, 3597, 3625, 3705, 3710, 3796, 3870,
            3900, 3910, 4038, 4052, 4130, 4181, 4230, 4287, 4297, 4354, 4549],
           dtype='int64'), 'Chips and Mild Fresh Tomato Salsa': Int64Index([674], dtype='int64'), 'Barbacoa Salad Bowl': Int64Index([1229, 1326, 1418, 1421, 1825, 2442, 3208, 3356, 3546, 4390], dtype='int64'), 'Chicken Soft Tacos': Int64Index([  12,   35,   36,   75,   79,  313,  324,  332,  333,  344,
            ...
            4162, 4247, 4290, 4311, 4438, 4474, 4502, 4514, 4550, 4615],
           dtype='int64', length=115), 'Veggie Soft Tacos': Int64Index([738, 781, 1395, 1699, 2384, 2851, 3889], dtype='int64'), 'Chicken Crispy Tacos': Int64Index([  11,  217,  365,  598,  600,  768,  830,  866,  885,  946, 1006,
            1027, 1345, 1844, 2375, 2422, 2507, 2515, 2549, 2556, 2604, 2651,
            2668, 2908, 2912, 2965, 3041, 3072, 3077, 3078, 3099, 3192, 3240,
            3309, 3324, 3372, 3472, 3593, 3631, 3638, 3816, 3891, 4116, 4322,
            4346, 4371, 4453],
           dtype='int64'), 'Veggie Salad': Int64Index([1694, 2756, 2996, 3163, 3471, 4084], dtype='int64'), '6 Pack Soft Drink': Int64Index([ 298,  341,  357,  388,  417,  553,  639,  721,  743,  879, 1026,
            1051, 1124, 1167, 1260, 1279, 1392, 1755, 1758, 1849, 1860, 1916,
            1922, 1937, 1976, 2108, 2232, 2374, 2389, 2713, 2793, 2860, 3010,
            3132, 3141, 3389, 3422, 3600, 3614, 3633, 3693, 3766, 3789, 3806,
            3836, 3875, 3886, 4169, 4174, 4359, 4363, 4522, 4527, 4535],
           dtype='int64'), 'Veggie Crispy Tacos': Int64Index([1653], dtype='int64'), 'Steak Salad Bowl': Int64Index([ 281,  606,  607,  613,  749, 1159, 1311, 1505, 1571, 1590, 1816,
            2401, 2439, 2600, 2624, 2740, 2804, 2957, 3098, 3120, 3350, 3493,
            4036, 4241, 4313, 4391, 4419, 4547, 4572],
           dtype='int64'), 'Steak Burrito': Int64Index([   7,    9,   31,   43,   46,   48,   50,   64,   67,   69,
            ...
            4445, 4446, 4473, 4508, 4536, 4546, 4607, 4610, 4617, 4618],
           dtype='int64', length=368), 'Carnitas Crispy Tacos': Int64Index([554, 1008, 1195, 1632, 1838, 3890, 4450], dtype='int64'), 'Nantucket Nectar': Int64Index([   2,   22,  105,  173,  205,  436,  601,  925, 1356, 1585, 1626,
            1706, 2162, 2379, 2381, 2430, 2653, 2818, 2838, 2853, 2949, 3318,
            3368, 3570, 3845, 4019, 4078],
           dtype='int64'), 'Veggie Bowl': Int64Index([  62,   85,  143,  157,  164,  192,  210,  253,  287,  512,  515,
             530,  555,  619,  643,  677,  737,  831,  832,  843,  846,  887,
             901,  936, 1242, 1297, 1319, 1363, 1374, 1404, 1428, 1433, 1441,
            1454, 1622, 1644, 1749, 1833, 1841, 1863, 1875, 2028, 2034, 2039,
            2063, 2123, 2326, 2376, 2392, 2444, 2471, 2530, 2565, 2568, 2673,
            2773, 2795, 2803, 2903, 2939, 3082, 3095, 3146, 3148, 3165, 3275,
            3397, 3412, 3617, 3659, 3677, 3735, 3745, 3820, 3877, 4080, 4153,
            4177, 4224, 4265, 4282, 4315, 4336, 4452, 4468],
           dtype='int64'), 'Veggie Burrito': Int64Index([  57,  104,  225,  394,  435,  467,  469,  479,  497,  535,  623,
             631,  662,  710,  714,  732,  745,  761,  771,  797,  813,  827,
             847,  874,  891,  931,  972,  973, 1038, 1074, 1105, 1145, 1193,
            1252, 1256, 1261, 1349, 1394, 1440, 1459, 1497, 1631, 1652, 1695,
            1768, 1778, 1959, 1982, 2067, 2084, 2096, 2177, 2218, 2219, 2280,
            2425, 2482, 2605, 2638, 2685, 2755, 2849, 2911, 3029, 3036, 3037,
            3056, 3113, 3164, 3234, 3235, 3274, 3351, 3367, 3404, 3469, 3470,
            3478, 3542, 3601, 3755, 3776, 3821, 3847, 3912, 3954, 4018, 4083,
            4134, 4278, 4319, 4471, 4519, 4608, 4611],
           dtype='int64'), 'Steak Bowl': Int64Index([  54,   86,   90,   91,  102,  187,  207,  215,  243,  259,
            ...
            4307, 4308, 4364, 4366, 4387, 4427, 4449, 4459, 4470, 4518],
           dtype='int64', length=211), 'Carnitas Salad': Int64Index([3750], dtype='int64'), 'Steak Crispy Tacos': Int64Index([  92,  437,  581,  729,  774,  918, 1020, 1168, 1327, 1451, 2025,
            2227, 2231, 2418, 2461, 2629, 2812, 2842, 2862, 2874, 2963, 3075,
            3085, 3406, 3439, 3503, 3606, 3694, 3778, 3946, 3950, 3994, 4014,
            4523, 4554],
           dtype='int64'), 'Chicken Bowl': Int64Index([   4,    5,   13,   19,   26,   42,   76,   78,   99,  110,
            ...
            4581, 4583, 4586, 4587, 4589, 4590, 4591, 4595, 4599, 4604],
           dtype='int64', length=726), 'Side of Chips': Int64Index([   6,   32,   70,  149,  275,  279,  307,  386,  413,  432,
            ...
            3719, 3726, 3846, 3887, 3898, 3911, 3934, 4055, 4057, 4070],
           dtype='int64', length=101), 'Carnitas Salad Bowl': Int64Index([1132, 1865, 2610, 3115, 3749, 4239], dtype='int64'), 'Barbacoa Crispy Tacos': Int64Index([168, 255, 429, 485, 763, 829, 1019, 1866, 1903, 2787, 3321], dtype='int64'), 'Carnitas Burrito': Int64Index([  27,   88,   93,  239,  373,  421,  462,  478,  626,  652,  691,
             767,  835,  865,  959,  974, 1063, 1097, 1127, 1197, 1238, 1287,
            1337, 1462, 1627, 1677, 1909, 1947, 2032, 2092, 2239, 2270, 2382,
            2454, 2523, 2581, 2586, 2686, 2697, 2790, 2884, 2951, 3252, 3421,
            3441, 3529, 3619, 3757, 3803, 3882, 4041, 4141, 4249, 4386, 4421,
            4437, 4482, 4487, 4578],
           dtype='int64'), 'Veggie Salad Bowl': Int64Index([ 186,  295,  455,  496,  960, 1316, 1884, 2156, 2223, 2269, 2683,
            3223, 3293, 4109, 4201, 4261, 4541, 4573],
           dtype='int64'), 'Chips': Int64Index([  40,   59,   77,   80,  208,  221,  223,  226,  283,  305,
            ...
            4426, 4429, 4455, 4472, 4497, 4505, 4509, 4525, 4584, 4613],
           dtype='int64', length=211), 'Canned Soda': Int64Index([  18,   28,   51,   53,  107,  117,  126,  162,  171,  179,
            ...
            3716, 3718, 3740, 3793, 3866, 3897, 3926, 3936, 4008, 4051],
           dtype='int64', length=104), 'Chips and Tomatillo Red Chili Salsa': Int64Index([ 111,  128,  356,  443,  593,  838, 1191, 1313, 1348, 1382, 1491,
            1620, 1665, 1671, 1732, 1736, 1896, 1915, 1932, 1992, 1999, 2004,
            2058, 2103, 2229, 2281, 2330, 2426, 2575, 2576, 2622, 2665, 2743,
            2877, 3136, 3292, 3429, 3430, 3482, 3729, 4040, 4131, 4156, 4312,
            4320, 4409, 4412, 4466],
           dtype='int64'), 'Chips and Roasted Chili-Corn Salsa': Int64Index([ 191,  648, 1180, 1458, 1628, 2053, 2140, 2301, 2371, 2907, 3024,
            3054, 3194, 3206, 3268, 3398, 3628, 3905],
           dtype='int64'), 'Barbacoa Burrito': Int64Index([  21,   81,  121,  130,  144,  222,  249,  334,  375,  385,  397,
             450,  502,  543,  557,  561,  574,  575,  586,  602,  615,  717,
             723,  742,  756,  853,  854,  859,  878,  888,  903,  981, 1055,
            1100, 1119, 1151, 1187, 1202, 1300, 1531, 1532, 1584, 1599, 1648,
            1812, 1846, 2131, 2243, 2257, 2323, 2398, 2400, 2462, 2521, 2585,
            2660, 2707, 2718, 2786, 2935, 2962, 2966, 2986, 3008, 3031, 3060,
            3149, 3156, 3276, 3301, 3345, 3391, 3420, 3512, 3632, 3696, 3786,
            3795, 3809, 3813, 3827, 3902, 4002, 4039, 4288, 4347, 4355, 4358,
            4592, 4602, 4603],
           dtype='int64'), 'Bowl': Int64Index([445, 673], dtype='int64'), 'Burrito': Int64Index([510, 511, 519, 675, 759, 760], dtype='int64'), 'Chips and Tomatillo-Green Chili Salsa': Int64Index([   3,   15,   30,  113,  133,  153,  165,  198,  271,  578,  982,
            1010, 1018, 1084, 1218, 1263, 1615, 1935, 1967, 2161, 2656, 2848,
            3143, 3320, 3573, 3626, 3657, 3788, 3810, 3871, 4007],
           dtype='int64'), 'Carnitas Soft Tacos': Int64Index([ 237,  405,  453,  565,  590,  667,  755,  820, 1186, 1390, 1437,
            1587, 1668, 1772, 1789, 1963, 2000, 2080, 2119, 2201, 2247, 2298,
            2299, 2551, 2715, 2898, 3067, 3308, 3340, 3341, 3620, 3688, 3695,
            3814, 3940, 4095, 4136, 4147, 4326, 4557],
           dtype='int64'), 'Chicken Burrito': Int64Index([  16,   17,   23,   29,   45,   52,   63,   68,   73,   82,
            ...
            4524, 4528, 4530, 4533, 4543, 4556, 4558, 4559, 4566, 4569],
           dtype='int64', length=553), 'Bottled Water': Int64Index([  34,   87,  318,  329,  376,  475,  540,  594,  653,  701,
            ...
            4479, 4507, 4517, 4542, 4544, 4568, 4570, 4582, 4598, 4614],
           dtype='int64', length=162), 'Carnitas Bowl': Int64Index([  33,   97,  145,  163,  399,  433,  506,  538,  822,  833,  851,
             984, 1200, 1212, 1244, 1294, 1341, 1344, 1359, 1376, 1393, 1430,
            1594, 1679, 1740, 1767, 1873, 1908, 1917, 2027, 2033, 2194, 2233,
            2268, 2368, 2404, 2488, 2537, 2547, 2557, 2567, 2647, 2719, 2725,
            2733, 2887, 2913, 2914, 2926, 2980, 3004, 3103, 3244, 3338, 3480,
            3525, 3711, 3792, 4044, 4168, 4374, 4428, 4475, 4500, 4504, 4562,
            4593, 4612],
           dtype='int64'), 'Barbacoa Soft Tacos': Int64Index([  56,  181,  268,  611,  857,  988, 1129, 1149, 1240, 1334, 1391,
            1642, 1669, 1754, 1985, 2083, 2248, 2259, 2434, 2780, 3184, 3211,
            3548, 4182, 4271],
           dtype='int64'), 'Canned Soft Drink': Int64Index([ 263,  292,  320,  337,  346,  347,  368,  380,  381,  393,
            ...
            4552, 4560, 4565, 4571, 4577, 4585, 4597, 4601, 4606, 4609],
           dtype='int64', length=301), 'Chips and Fresh Tomato Salsa': Int64Index([   0,   25,   55,   89,  183,  194,  240,  265,  267,  302,
            ...
            4065, 4073, 4090, 4102, 4163, 4231, 4318, 4324, 4425, 4503],
           dtype='int64', length=110), 'Izze': Int64Index([   1,   24,   47,   66,  359,  360,  430,  579,  580, 1059, 1213,
            1611, 1612, 1680, 2088, 2619, 2634, 2758, 2891, 3669],
           dtype='int64'), 'Crispy Tacos': Int64Index([520, 521], dtype='int64'), 'Chips and Roasted Chili Corn Salsa': Int64Index([ 233,  562,  708,  841,  906, 1067, 1150, 1292, 1358, 1371, 1450,
            1555, 1597, 1658, 1925, 1962, 2346, 2373, 2602, 2967, 3449, 3780],
           dtype='int64'), 'Chips and Tomatillo-Red Chili Salsa': Int64Index([ 300,  349,  692, 1101, 1181, 1533, 1534, 1763, 1857, 2011, 2550,
            2972, 3052, 3171, 3270, 3358, 3558, 3650, 3660, 4088],
           dtype='int64'), 'Chicken Salad Bowl': Int64Index([  44,  135,  213,  256,  315,  526,  528,  529,  568,  585,
            ...
            4352, 4388, 4439, 4467, 4520, 4561, 4580, 4619, 4620, 4621],
           dtype='int64', length=110), 'Steak Salad': Int64Index([664, 752, 893, 3502], dtype='int64'), 'Chips and Guacamole': Int64Index([  10,   14,   20,   37,   41,   49,   60,   72,   74,   94,
            ...
            4551, 4563, 4567, 4575, 4579, 4588, 4596, 4600, 4605, 4616],
           dtype='int64', length=479), 'Salad': Int64Index([1414, 1415], dtype='int64'), 'Chicken Salad': Int64Index([250, 1065, 2968, 3045, 3363, 3730, 3733, 3982, 3989], dtype='int64')}

In [11]:
c = c.sum()
print(c)

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

### Step 10. For the most-ordered item, how many items were ordered?

In [12]:
c = c.sort_values(['quantity'], ascending=False)
c.head()

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506
Steak Burrito          328437       386
Canned Soft Drink      304753       351

### Step 11. What was the most ordered item in the choice_description column?

In [13]:
choice = chipo.groupby('choice_description')
choice = choice.sum()
choice.head(10)

                                                    order_id  quantity
choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Bea...       214         1
[Adobo-Marinated and Grilled Chicken, [Sour Cre...       279         1
[Adobo-Marinated and Grilled Chicken]                    217         1
[Adobo-Marinated and Grilled Steak, [Sour Cream...       279         1
[Adobo-Marinated and Grilled Steak]                      217         1
[Apple]                                                 3966         6
[Blackberry]                                            5220         8
[Braised Barbacoa, Pinto Beans, [Sour Cream, Sa...       217         1
[Braised Barbacoa, Vegetarian Black Beans, [Sou...       214         1
[Braised Carnitas, Pinto Beans, [Sour Cream, Ch...       193         3

### Step 12. How many items were orderd in total?

In [14]:
choice = choice.sort_values(['quantity'], ascending=False)
choice.head(3)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159
[Coke]                122752       143
[Sprite]               80426        89

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [15]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [16]:
converter = lambda x:float(x[1:-1])
chipo.item_price = chipo.item_price.apply(converter)

#### Step 13.c. Check the item price type

In [17]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [18]:
prices = chipo['item_price']
print(prices.head())
quantity = chipo['quantity']
print(quantity.head())
revenue_per_item = prices * quantity
print(revenue_per_item.head())
revenue = revenue_per_item.sum()
print(revenue)

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64
0    1
1    1
2    1
3    1
4    2
Name: quantity, dtype: int64
0     2.39
1     3.39
2     3.39
3     2.39
4    33.96
dtype: float64
39237.02

### Step 15. How many orders were made in the period?

In [19]:
# what defines an order? number of order_ids!
orders = chipo['order_id']
unique_orders = set(orders)
len(unique_orders)

# or simply use
# chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue per order?

In [20]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [21]:
chipo['revenue'].mean() # this is wrong and underestimated because there are multiple rows with the same order_id

8.48918649935093

In [42]:
order_grouped = chipo.groupby('order_id').sum() # now we have
print(order_grouped.head())
print(order_grouped['revenue'].mean())
print(order_grouped['item_price'].mean())

          quantity  item_price  revenue
order_id
1                4       11.56    11.56
2                2       16.98    33.96
3                2       12.67    12.67
4                2       21.00    21.00
5                2       13.70    13.70
21.39423118865867
18.811428571428568

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [54]:
chipo.item_name.count()

4622